APP_NAME="Notification Officer"
ENVIRONMENT=development
APP_VERSION=0.1.0
DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=notification_officer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis
REDIS_PORT=6379

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_WEBHOOK_SECRET=