APP_NAME="Notification Officer"
ENVIRONMENT=development
APP_VERSION=0.1.0
DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=notification_officer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

TWITCH_CLIENT_ID=your-client-id
TWITCH_CLIENT_SECRET=your-twich-client-secret
TWITCH_WEBHOOK_SECRET=webhook-secret
TWITCH_CALLBACK_URL=dummy